.InfoBlock { 
    
    color: black;
    padding: 4px;
    height: 100%;
}

.InfoBlock .card {
    height: 100%;
}

.InfoBlock .card-img-top {
    object-fit: cover;
    height: 300px;
}

.InfoBlock:hover { 
    
    border-color: #FFCC00;
    border-style: solid;
    border-width: 2px;
    transition: all 0.1s ease;
}

.InfoBlock:focus {
    padding: 1px;

    transition: all 0.05s ease;
}

@media only screen and (max-width: 1000px) {
    .InfoBlock {
        width: 100%;
    }

    .InfoBlock .card-img-top {
        height: 200px;
    }
}
